i.bi-heart {
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
    color: var(--cor-empresa);
    padding-right: 1.5rem;
    color: red;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc-produto {
    padding: 1rem;
    font-size: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.img-produto {
    margin: auto;
    width: 30%;
}

.img-qtde-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qtde-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.div-adicionar-carrinho {
    display: flex;
    justify-content: center;
}

#icone-carrinho {
    font-size: 40px;
    padding-right: 1rem;
}

#botao-add-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.precos-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preco {
    font-size: 25px;
    font-weight: 700;
    padding: .5rem;
}

.valor-preco {
    border: 4px solid var(--cor-da-empresa);
    font-size: 20px;
    font-weight: 500;
    padding: .3rem;
}
